<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Light00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light00_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hurt_3.png</string>
            <key>size</key>
            <string>{960,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:986e910cba233a789ea761d1cdc7cada:390206f72d91c43c1870d771ce842f90:3fba3504f4695ec864e28ad35bcee3a2$</string>
            <key>textureFileName</key>
            <string>hurt_3.png</string>
        </dict>
    </dict>
</plist>
